<nav id = "topnav" class="navbar">
  <div class="nav-left">
    <a id = "home" href="/"><img id = "logo" src = "/images/logo.png" /></a>
    <a href="/about">Our Team</a>
    <a href="/contact">Contact</a>
    <a href="/donate">Donate</a>
  </div>
  <div class="nav-right">
    <a href="javascript:void(0);" class="icon" onclick="openNav()">☰</a>
  </div>
</nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
  <a href="/about">Our Team</a>
  <a href="/contact">Contact</a>
  <a href="/donate">Donate</a>
</div>
