<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <style>
      .navbar {
        position: relative;
      }
    </style>
    <div id = "main">
      <h1 class = "text-primary">Board</h1>
      <div class = "bio">
        <div class = "staffer">
          <div class = "picture">

          </div>
          <div class = "description">

          </div>
        </div>
      </div>
      <h1 class = "text-primary">Staff</h1>
      <div class = "bio">
        <div class = "staffer">

        </div>
        <div class = "description">

        </div>
      </div>
    </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
