<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <style>
      .navbar {
        position: relative;
      }
    </style>
    <div id = "main">
      
    </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
