<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <style>
      .navbar {
        position: relative;
      }
    </style>
    <div class = "content">
      <div id="main" class = "container">
        <h1 class="text-primary">Where does the money go?</h1>
        <div class="where">
          <h3 class="text-primary">Over 95% of all donations go directly to the cause.</h3>
          <h3 class="text-danger">Changing Tides is a volunteer organization. Volunteers even pay their own travel expenses.</h3>
          <h3 class="text-warning">Our Haitian staff works very long hours for modest wages.</h3>
        </div>
        <div class="mothly">
          <h1 class="text-primary">Monthly Budget</h1>
          <table class="table table-striped">
            <tr>
              <th>Expense</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>Total Salaries</td>
              <td>$1,200</td>
            </tr>
            <tr>
              <td>Utilities</td>
              <td>$300</td>
            </tr>
            <tr>
              <td>Maintenance</td>
              <td>$150</td>
            </tr>
            <tr>
              <td>Medical</td>
              <td>$200</td>
            </tr>
            <tr>
              <td>Transportation</td>
              <td>$75</td>
            </tr>
            <tr>
              <td>Clothes</td>
              <td>$75</td>
            </tr>
            <tr>
              <td>Food</td>
              <td>$1,200</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$3,199</td>
            </tr>
          </table>
        </div>

        <form class="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="G39J4Z95MSQ6G">
          <input class="paypal-btn" type="image" src="https://changing-tides.herokuapp.com/images/blue-rect-paypal-60px.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        </form>
        <ul class="address">
          <li>USA</li>
          <li>Changing Tides Orphanage</li>
          <li>CO: Chris Mazzola</li>
          <li>PO Box 1837</li>
          <li>Ross, CA</li>
          <li>94957-0887</li>
          <li>(415) 444-6199</li>
          <li>Email: <a href="mailto:chris_mazzola@branson.org">chris_mazzola@branson.org</a></li>
        </ul>


      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>
