<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <% include ../partials/nav.ejs %>
      <div class = "content">
        <div class="hero-image">
          <img src="/images/group.jpg" />
          <div class="hero-text">
            <h1 id="title">Changing Tides Orphanage</h1>
            <a class="btn btn-trans" href="/donate">Donate</a>
            <button class="video btn btn-trans">Watch the Video</button>
          </div>
        </div>
        <div id = "main" class="container">
          <div class="content-block content-center">
            <div class="row">
              <div class="col-lg-12 content-center">
                <div class="text-center content-block">
                  <h1 class="text-primary">About The Orphanage</h1>
                    <p> Changing Tides Orphanage was founded In July 2011 by Vance and Cheryl Simms. Vance and Cheryl had visited Haiti several times and thought that one day in the future, they might start an orphanage or school in this impoverished country.  After seeing the devastation caused by the 2010 earthquake, Vance and Cheryl decided that they needed to move their plans forward and reach out to directly help those who were suffering in the aftermath of the earthquake. Changing Tides Orphanage opened its doors to Haitian children in Jacmel, Haiti in early 2011. Since then, we have provided 14 children with a loving environment that includes clean clothes, three nutritious meals a day, loving supervision,  and the opportunity for an education. We have committed ourselves to seeing these children through to adulthood, and our hope is that with the education they are receiving, they will not only be able to provide for themselves, but perhaps can make an impact on the future of Haiti.
                    </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block">
              <h1 class="text-primary">Connect With Us</h1>
              <div class="row text-center">
                <div class="col-lg-12  text-center">
                  <div class="fb-page" data-href="https://www.facebook.com/Changing-Tides-Orphanage-169521703120330/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Changing-Tides-Orphanage-169521703120330/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Changing-Tides-Orphanage-169521703120330/">Changing Tides Orphanage</a></blockquote></div>
                </div>
              </div>
          </div>
          <div class="content-block text-center row">
            <h1 class="text-primary">Why Haiti?</h1>
            <div class="info col-lg-6">
              <div class="center">
                <div class="same-height panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">Poverty</h3>
                  </div>
                  <div class="panel-body">
                    <li>Gross national income per capita is $660.</li>
                    <li>78% of Haitians are poor, living with less than $2 a day.</li>
                    <li>54% of Haitians live in extreme poverty, with less than $1 a day.</li>
                    <li>In rural areas, poverty and extreme poverty rates are about 84% and 69%.</li>
                    <li>Over 66% of the labor force do not have formal jobs.</li>
                    <li>Life expectancy is 61 years.</li>
                    <li>50% of children under 5 are malnourished.</li>
                    <li>80 out of every 1,000 Haitian children never see their first birthday.</li>
                  </div>
                </div>
              </div>
            </div>
            <div class="info col-lg-6">
              <div class="center">
                <div class="same-height panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">Education</h3>
                  </div>
                  <div class="panel-body">
                    <li>50% of primary school age children are not enrolled in school.</li>
                    <li>33% of girls over the age of six never go to school.</li>
                    <li>Approximately 30% of children attending primary school will not make it to the third grade; 60% will abandon school before the sixth grade.</li>
                    <li>Less than 40% of non-public schools are accredited.</li>
                    <li>Only 15% of primary teachers have basic teaching qualifications.</li>
                    <li>Approximately 75% of all teachers lack adequate training</li>
                    <li>Less than 20% of schools have electricity; 39% have potable water.</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="videoModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <iframe id="vid-iframe" width="100%" height="100%" src="https://www.youtube.com/embed/T9piZCG_eB0?ecver=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
  </body>

</html>
